.tools ul li {
   list-style: none;
}

.tools .card {
   padding: 10px;
   margin-bottom: 10px;
}

.tools .head {
   display: flex;
   justify-content: space-between;
}

.tools .head .title {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 10px;
}

.tools .btns {
   display: flex;
   gap: 10px;
}

.tools .btns span{
   display: flex;
   font-size: 10px;
   color: #fff;
   border-radius: 50%;
   padding: 5px;
}

.tools .btns .addTool {
   background: green;
}

.tools .btns .delTool {
   background: red;
}

.tools .product li {
   border-top: 1px solid #000;
   border-bottom: 1px solid #000;
   margin-bottom: 5px;
   padding: 5px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.tools .product .amounts {
   display: flex;
   gap: 10px;
} 

.tools .product .amount {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.tools .product .amount .info {
   font-size: 10px;
}

.tools .product .amount .light {
   color: #999;
   font-size: 15px;
}

.editTool {
   background: rgb(144, 148, 144);
   z-index: 1000;
   position: fixed;
   inset: 0;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.editTool .card {
   background: rgb(238, 238, 238);
   padding: 30px;
   text-align: center;
   border-radius: 10px;
}

.editTool input {
   width: 60px;
   margin-top: 30px;
   margin-bottom: 50px;
   border: 1px solid #222;
}

.editTool .btns{
   display: flex;
   justify-content: space-around;
}

.btns .refuse {
   background: red;
}